@model Hoc_ASP.NET_MVC.Models.Entity.Product
@using Hoc_ASP.NET_MVC.Models.Entity
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Product product = Session["product"] as Product;
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.name, "Tên sản phẩm", htmlAttributes: new { @class = "control-label text-right" })
            <div class="">
                <input type="text" name="name" value="@product.name" class="form-control" />
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.quantity, "Số lượng ", htmlAttributes: new { @class = "control-label" })
            <div class="">
                <input type="number" name="quantity" value="@product.quantity" class="form-control" min="1" />
                @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.price, "Giá", htmlAttributes: new { @class = "control-label " })
            <div class="">
                <input type="number" name="price" value="@product.price" class="form-control" min="0" />
                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.supplier, "Nhà cung cấp", htmlAttributes: new { @class = "control-label " })
            <div >
                <input type="text" name="supplier" value="@product.supplier" class="form-control" />
                @Html.ValidationMessageFor(model => model.supplier, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.productTypeId, "Loại sản phẩm", htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.DropDownList("productTypeId", Session["types"] as SelectList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.productTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group " id="groupImg0">
            @Html.LabelFor(model => model.img0, "Ảnh chính", htmlAttributes: new { @class = "control-label " })
            <div class="">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/"+product.ProductType.name+"/" +product.img0)" alt="Image" class="image-products " />
                    </div>
                    <div class="col-sm-5">
                        <input id="fileImg0" type="file" name="img0" value="@product.img0" class="" />
                    </div>
                    <div class="col-sm-3">
                        <img id="img0Update" src="#" alt="Image" class="image-products " />
                    </div>
                    @Html.ValidationMessageFor(model => model.img0, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.img1, "Ảnh phụ 1", htmlAttributes: new { @class = "control-label " })
            <div class="">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/"+product.ProductType.name+"/" +product.img1)" alt="Image" class="image-products" />
                    </div>
                    <div class="col-sm-5">
                        <input id="fileImg1" type="file" name="img1" value="@product.img1" />
                    </div>
                    <div class="col-sm-3">
                        <img id="img1Update" src="#" alt="Image" class="image-products" />
                    </div>
                    @Html.ValidationMessageFor(model => model.img1, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.img2, "Ảnh phụ 2", htmlAttributes: new { @class = "control-label" })
            <div class="">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="@Url.Content("~/Images/"+product.ProductType.name+"/" +product.img2)" alt="Image" class="image-products" />
                    </div>
                    <div class="col-sm-5">
                        <input id="fileImg2" type="file" name="img2" value="@product.img2" />
                    </div>
                    <div class="col-sm-3">
                        <img id="img2Update" src="#" alt="Image" class="image-products" />

                    </div>
                    @Html.ValidationMessageFor(model => model.img2, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.textInfo, "Mô tả sản phẩm:", htmlAttributes: new { @class = "control-label " })
            <div class="">
                <textarea name="textInfo" cols="90" rows="4" placeholder="Thông tin sản phẩm">@product.textInfo</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


